$primary: #ffffff;
$primary-dark: #f1f1f1;
$primary-darker: #888888;
$border-color: $primary-darker;
$disabled: #ababab;
$active: #444444;
$active-bg: #eeeeee;
$text: #212121;
$card-bg: #fafafa;

$font-family: sans-serif;

$border-width: 1px;
